# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# Flask & Environment
instance/
.env
studyspace.db

# PyInstaller / Build artifacts
build/
dist/
*.spec

# IDEs
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini
